.app-comp{
	background-color: #fff;
	.button{
		background-color: pink;
		height: 50px;
		display: inline;
		padding: 3px 10px;
		margin: 20px;
		border-radius: 5px;
		cursor: pointer;
	}
	ul{
		display: table;
		li{
			list-style-type: none;
			padding: 0;
			margin: 0;
			.item{
				display: table-cell;
				text-align: left;
				vertical-align: middle;
				padding: 10px;
			}
		}		
	}
	div{
		margin: 10px 30px;
	}
	
	.notification{
		background-color: #ff0000;
		color: #fafafa;
		padding: 10px;
		font-size: 12px;
	}
}

