<div class="mui-container">
	<div class="mui-panel">
		<div class="app-comp">

			<div class="mui--text-dark-secondary mui--text-display3">TAX calculator</div>

			<div class="mui-textfield">
				<label>VAT rate: (%)</label>
				<select [(ngModel)]="vatrate">
					<option value="" disabled selected>Choose your option</option>
					<option *ngFor="let c of vatrates" [ngValue]="c">{{c}}</option>
				</select>
			</div>

			<div *ngIf="vatrate">

				<div class="mui-textfield">
					<label>Gross:</label>
					<input [ngModel]="gross" (ngModelChange)="gross = $event" value="{{gross}}" [disabled]="isGrossDisabled" />
				</div>

				<div class="notification" *ngIf="gross > 0 && vatrate == 0">
					Please select the VAT rate.
				</div>

				<div class="mui-textfield">
					<label>VAT amount:</label>
					<input [ngModel]="vat" (ngModelChange)="vat = $event" value="{{vat}}" [disabled]="isVatDisabled" />
				</div>

				<div class="mui-textfield">
					<label>NET:</label>
					<input [ngModel]="net" (ngModelChange)="net = $event" value="{{net}}" [disabled]="isNetDisabled" />
				</div>

				<div class="mui-textfield">
					<button (click)="getValue()">Calculate</button> | <button (click)="resetForm()">Reset</button>
				</div>

			</div>
			
			<div class="result" *ngIf="gross && vatrate">
				<div>Gross: {{ gross | currency: 'EUR'}}</div>
				<div>VAT amount: {{ vat| currency: 'EUR'}}</div>
				<div>Net: {{ net| currency: 'EUR'}}</div>
			</div>

		</div>
	</div>
</div>
