/* You can add global styles to this file, and also import other style files */
html{
	padding: 0;
	margin: 0;	

	body{
		background-color: #ddd;
		padding: 0;
		margin: 0;	
		h1{
			margin: 0;
			padding: 0;
		}
	}
}	